

<script src="{{ "/bower_components/foundation/js/vendor/jquery.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/foundation/js/vendor/fastclick.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/foundation/js/vendor/modernizr.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/foundation/js/foundation.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/foundation/js/foundation/foundation.orbit.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>

<script>
  $(document).foundation();
</script>
