<header class="site-header contain-to-grid" >
  <div class="fixed">
  <nav class="top-bar" data-topbar >
    <ul class="title-area">

    <section class="top-bar-section">

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><a target="_blank" href="https://itunes.apple.com/us/app/nekosan/id1148979232?mt=8">Start playing</a></li>
        <li >
          <a target="_blank" href="https://twitter.com/1buttonstudio">Follow</a>
        </li>
      </ul>



    </section>
  </nav>
  </div>

</header>
